body {
  background-color: rgb(231, 244, 244);
}
img {
  display: block;
  max-width: 100%;
  border: 1px solid #0d161b;
}
.loader {
}
.error {
}
.cat-info {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  background-color: #ccccef;
  border: 1px solid #0d161b;
}

.is-hidden {
  opacity: 0;
}
.box-img {
  display: flex;
  align-items: center;
}

.box {
  width: 400px;
}
